<body class="mdc-typography">

    <div class="error-container">
        <h1 class="mdc-typography--headline4">Die Vorschau kann aufgrund eines Fehlers nicht angezeigt werden.</h1>
        <h2 class="mdc-typography--headline5"> Bitte wenden Sie sich an einen Administrator.</h2>
        <br>
        <p class="mdc-typography--subtitle1">
            <strong>Request ID:</strong> {{requestId}}
        </p>
        <p class="mdc-typography--subtitle1">
            <strong>Fehlermeldung:</strong> {{message}}
        </p>
    </div>

</body>