<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h1 class="mdc-typography--headline5 no-margin">Rechnungen an Crossinx versenden</h1>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 ">
    {{> input title="Suchen" id="search-field"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
    {{> dropdown title="Buchungskreis ID" id="companycode"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
    {{> dropdown title="Organisationseinheit" id="organisationunit"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
    {{> dropdown title="Verarbeitungsstatus" id="processingstatus"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
    {{> checkbox title="01 vorhanden" id="documents01"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
    {{> checkbox title="02 vorhanden" id="documents02"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
    {{> checkbox title="08 vorhanden" id="documents08"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
    <div class="mdc-data-table">
        <div class="mdc-data-table__table-container">
            <table class="mdc-data-table__table" aria-label="Rechnungen">
                <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Auswahl</th>
                        {{> tableheader title="Rechnungsnummer"}}
                        {{> tableheader title="Buchungskreis ID"}}
                        {{> tableheader title="Organisationseinheit"}}
                        {{> tableheader title="Debitorennummer (AG)"}}
                        {{> tableheader title="Debitorenname (AG)"}}
                        {{> tableheader title="Debitorennummer (WE)"}}
                        {{> tableheader title="Debitorenname (WE)"}}
                        {{> tableheader title="Debitorennummer (RE)"}}
                        {{> tableheader title="Debitorenname (RE)"}}
                        {{> tableheader title="Rechnungsgesamtbetrag, brutto"}}
                        {{> tableheader title="Währung"}}
                        {{> tableheader title="Ersteller (SAP)"}}
                        {{> tableheader title="Erstelldatum (SAP)"}}
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">01 vorhanden</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">02 vorhanden</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">08 vorhanden</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">E-Invoice</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Interner Beleg</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Rechnungsanlage Kunde
                        </th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">KuSoFa</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Deb. GS-Verfahren</th>
                        {{> tableheader title="Verarbeitungsstatus"}}
                        {{> tableheader title="Versandzeitpunkt"}}
                        {{> tableheader title="Versandrückmeldezeitpunkt"}}
                    </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
    <h1 class="mdc-typography--headline6 resume">Ausgewählte Rechnungen</h1>
    <ul class="mdc-list">
    </ul>
    <button class="mdc-button mdc-button--raised resume" onclick="sendInvoices()">
        <span class="mdc-button__label">Rechnungen absenden</span>
    </button>
</div>

</div>

<span id="data-container" data-id="{{metaData}}"></span>