<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h1 class="mdc-typography--headline5 no-margin">Rechnungsakten</h1>
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 invoice-table">
    <div class="mdc-data-table">
        <div class="mdc-data-table__table-container">
            <table class="mdc-data-table__table" aria-label="Rechnungen">
                <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Auswahl</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Rechnungsnummer</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Buchungskreis ID</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Organisationseinheit</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Debitorennummer (AG)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Debitorenname (AG)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Debitorennummer (WE)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Debitorenname (WE)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Debitorennummer (RE)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Debitorenname (RE)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Rechnungsgesamtbetrag, brutto</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Währung</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Ersteller (SAP)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Erstelldatum (SAP)</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">01 vorhanden</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">02 vorhanden</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">08 vorhanden</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">E-Invoice</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Interner Beleg</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Rechnungsanlage Kunde</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">KuSoFa</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Deb. GS-Verfahren</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Verarbeitungsstatus</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Versandzeitpunkt</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Versandrückmeldezeitpunkt</th>
                    </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 invoice-table">
    <h1 class="mdc-typography--headline6">Ausgewählte Rechnungen</h1>
</div>

</div>

<span id="data-container" data-id="{{metaData}}"></span>