<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h1 class="mdc-typography--headline5 no-margin">Rechnungen an Crossinx versenden</h1>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 ">
    {{> input title="Suchen" id="search-field"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
    {{> dropdown title="Buchungskreis ID" id="companycode"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
    {{> dropdown title="Organisationseinheit" id="organisationunit"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
    {{> dropdown title="Verarbeitungsstatus" id="processingstatus"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
    {{> checkbox title="01 - SAP Abrechnung vorhanden" id="documents01"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
    {{> checkbox title="02 - Rechnungsanlage vorhanden" id="documents02"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
    {{> checkbox title="08 - XML Rechnung vorhanden" id="documents08"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
    <div class="mdc-data-table">
        <div class="mdc-data-table__table-container">
            <table class="mdc-data-table__table" aria-label="Rechnungen">
                <thead>
                    <tr class="mdc-data-table__header-row">
                        {{!-- <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Auswahl</th> --}}
                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--checkbox"
                            role="columnheader" scope="col">
                            <div class="mdc-checkbox mdc-data-table__header-row-checkbox mdc-checkbox--selected">
                                <input type="checkbox" class="mdc-checkbox__native-control table-checkbox"
                                    aria-label="Toggle all rows"/>
                                <div class="mdc-checkbox__background">
                                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                        <path class="mdc-checkbox__checkmark-path" fill="none"
                                            d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                    </svg>
                                    <div class="mdc-checkbox__mixedmark"></div>
                                </div>
                                <div class="mdc-checkbox__ripple"></div>
                            </div>
                        </th>
                        {{> tableheader title="Rechnungsnummer"}}
                        {{> tableheader title="Buchungskreis ID"}}
                        {{> tableheader title="Organisationseinheit"}}
                        {{> tableheader title="Debitorennummer (AG)"}}
                        {{> tableheader title="Debitorenname (AG)"}}
                        {{> tableheader title="Debitorennummer (WE)"}}
                        {{> tableheader title="Debitorenname (WE)"}}
                        {{> tableheader title="Debitorennummer (RE)"}}
                        {{> tableheader title="Debitorenname (RE)"}}
                        {{> tableheader title="Rechnungsgesamtbetrag, brutto"}}
                        {{> tableheader title="W채hrung"}}
                        {{> tableheader title="Ersteller (SAP)"}}
                        {{> tableheader title="Erstelldatum (SAP)"}}
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">01</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">02</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">08</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">E-Invoice</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Rechnungsanlage Kunde
                        </th>
                        {{> tableheader title="Verarbeitungsstatus"}}
                        {{> tableheader title="Versandzeitpunkt"}}
                        {{> tableheader title="Versandr체ckmeldezeitpunkt"}}
                    </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
    <h1 class="mdc-typography--headline6 cart">
        Ausgew채hlte Rechnungen
        <p class="mdc-typography--subtitle2"><span id="checked-invoices">0</span> von <span id="all-invoices">0</span>
            Rechnungen zum Versand ausgew채hlt.</p>
    </h1>
    <button class="mdc-button mdc-button--raised cart" onclick="sendInvoices()">
        <span class="mdc-button__label">Rechnungen absenden</span>
    </button>
</div>

</div>

<span id="data-container" data-id="{{metaData}}"></span>