body {
    padding: 16px;
}

:root {
    --mdc-theme-primary: #0069af;
    --mdc-theme-secondary: #cccc00;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.mdc-linear-progress {
    top: 50%;
}

.no-margin {
    margin: 0;
}

.invoice-table {
    display: none;
}

.mdc-button {
    display: none;
    margin-top: 16px;
}

.resume {
    margin-left: 16px;
}

.mdc-data-table {
    width: 100%;
}

.mdc-select {
    width: 100%;
}

.mdc-text-field {
    width: 100%;
}